$roboto: "Roboto", sans-serif;
$openSans: "Open Sans", sans-serif;
$encodeSans: "Encode Sans", sans-serif;

$light: #f4f2ff;
$dark: #212f3d;
$grey: #808b96;
$primaryColor: #1a63f8;
// $secondaryColor: ;
$blue: #1a63f8;
$red: #c61f63;
$orange: #ff9933;
$green: #138808;

$linearGradient: linear-gradient((45deg, $blue 0%, #1d76fb 100%));
// $linearGradient: linear-gradient((45deg, #16A085 0%, #58D68D 100%));

$extraLarge: 7rem;
$large: 3rem;
$medium: 2.4rem;
$small: 1.8rem;
