#contact {
  padding: 12% 0% 8%; // Can be improved
  text-align: center;
  color: $light;
  background: $linearGradient;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);

  h4 {
    font-family: $roboto;
  }
}

@media screen and (max-width: 768px) {
  #contact {
    padding: 10% 0%; // Can be improved
    clip-path: none;
  }
}
