#skills {
  padding: 0% 8% 8%; // Can be improved
}

.skills-head {
  display: inline-block;
  font-family: $roboto;
  border-bottom: 2px solid $primaryColor;
  padding-bottom: 3px;
  margin-bottom: 8%;
}

.skills-list {
  font-size: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;

  @media screen and (max-width: 768px) {
    grid-template-columns: auto auto auto;
    font-size: 2.5rem;
  }
}

.skill {
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill img,
.skill i {
  cursor: pointer;
}
.reactjs {
  color: #0b9ceb;
}
.javascript {
  color: #f1c40f;
}
.css {
  color: #217de1;
}
.bootstrap {
  color: #8319f9;
}
.html {
  color: #f86c2f;
}
.nodejs {
  color: #0f913d;
}
.expressjs {
  height: 45px;
  @media screen and (max-width: 768px) {
    height: 35px;
  }
}
.mongodb {
  width: 25px;
  @media screen and (max-width: 768px) {
    width: 20px;
  }
}
.postgresql {
  width: 45px;
  @media screen and (max-width: 768px) {
    width: 30px;
  }
}
.ejs {
  width: 45px;
  @media screen and (max-width: 768px) {
    width: 30px;
  }
}
.git {
  color: #0fa854;
}
.java {
  color: #e1195b;
}

.origin {
  animation: spin 6s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  @keyframes spin {
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
