@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f2ff;
}

body,
html {
  overflow-x: hidden;
}

.highlight {
  color: #1a63f8;
}

:focus {
  outline: none;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 1.7rem;
}

p {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }
}

.btn {
  cursor: pointer;
  color: #f4f2ff;
  font-family: "Encode Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.8rem 2.5rem;
  background: transparent;
  border: none;
}

.btn-underline-from-center {
  text-decoration: none;
  position: relative;
}

.btn-underline-from-center::after {
  content: "";
  background: #212f3d;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: width ease 0.3s, left ease 0.3s;
  transition: width ease 0.3s, left ease 0.3s;
}

.btn-underline-from-center:hover::after {
  width: 100%;
  left: 0;
}

.btn-wobble-bottom {
  margin: 1rem 1rem 1rem 0rem;
  background: #212f3d;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #0b439a;
          box-shadow: 1px 1px 2px #0b439a;
}

.btn-wobble-bottom:hover {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation-name: wobble-bottom;
          animation-name: wobble-bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes wobble-bottom {
  0% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  20% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  40% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  60% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  80% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

@keyframes wobble-bottom {
  0% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  20% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  40% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  60% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
  80% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.btn-translate {
  background: #1a63f8;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #0b439a;
          box-shadow: 1px 1px 2px #0b439a;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.btn-translate:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.btn-sweep-to-right {
  font-size: 2.4rem;
  border: 2px solid #f4f2ff;
  margin-top: 2rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.btn-sweep-to-right::after {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f4f2ff;
  -webkit-transition: width cubic-bezier(0.29, 0.83, 0.29, 0.85) 0.3s;
  transition: width cubic-bezier(0.29, 0.83, 0.29, 0.85) 0.3s;
}

.btn-sweep-to-right:hover {
  color: #212f3d;
}

.btn-sweep-to-right:hover::after {
  width: 100%;
}

.icon {
  color: #f4f2ff;
  margin: 2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#header {
  min-height: 100vh;
  background: linear-gradient(-45deg, white 50%, #f4f2ff 50%);
  padding: 2% 4%;
  color: #212f3d;
}

@media screen and (max-width: 420px) {
  #header {
    min-height: 300px;
  }
}

.nav-toggle {
  display: none;
}

.header-part1 {
  position: relative;
  font-size: 2.4rem;
  font-weight: 300;
}

.header-part1 #nav ul li {
  display: inline-block;
  padding: 1rem 1rem 1rem 0rem;
}

.header-part1 #nav ul li a {
  color: #212f3d;
  text-decoration: none;
  cursor: pointer;
  font-family: "Encode Sans", sans-serif;
  font-size: 1.8rem;
  padding: 0.3rem 0.8rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-part1 .logo {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.header-part1 .logo::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  -webkit-transition: width ease 0.3s, height ease 0.3s;
  transition: width ease 0.3s, height ease 0.3s;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #212f3d;
  border-right: 2px solid #212f3d;
  border-bottom-right-radius: 2px;
}

.header-part1 .logo::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  -webkit-transition: width ease 0.3s, height ease 0.3s;
  transition: width ease 0.3s, height ease 0.3s;
  top: 0;
  left: 0;
  border-top: 2px solid #212f3d;
  border-left: 2px solid #212f3d;
  border-top-left-radius: 2px;
}

.header-part1 .logo:hover::after {
  width: 110%;
  height: 120%;
}

.header-part1 .logo:hover::before {
  width: 110%;
  height: 120%;
}

.header-part2 {
  height: calc(100vh - 10vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-part2 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 7rem;
  font-weight: 500;
}

.header-part2 p {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .header-part1 #nav {
    position: fixed;
    background: #212f3d;
    color: #f4f2ff;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .header-part1 #nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-part1 #nav .nav-list .nav-link {
    color: inherit;
    font-size: 3rem;
  }
  .header-part1 #nav .nav-list .nav-link:hover {
    color: #808b96;
  }
  .nav-toggle {
    display: inline-block;
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 3rem;
    top: 3rem;
    z-index: 1000;
  }
  .nav-toggle .hamburger {
    display: block;
    position: relative;
    background: white;
  }
  .nav-toggle .hamburger,
  .nav-toggle .hamburger::before,
  .nav-toggle .hamburger::after {
    width: 3.5rem;
    height: 0.3rem;
    border-radius: 1rem;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .nav-toggle .hamburger::before,
  .nav-toggle .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }
  .nav-toggle .hamburger::before {
    background: #138808;
    top: 0.8rem;
  }
  .nav-toggle .hamburger::after {
    background: #ff9933;
    bottom: 0.8rem;
  }
  .nav-open .header-part1 #nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-open .nav-toggle {
    position: fixed;
  }
  .nav-open .hamburger {
    -webkit-transform: rotate(0.625turn);
            transform: rotate(0.625turn);
    background-color: #f4f2ff;
  }
  .nav-open .hamburger::before {
    -webkit-transform: rotate(89deg) translateX(-6px);
            transform: rotate(89deg) translateX(-6px);
    background-color: #f4f2ff;
  }
  .nav-open .hamburger::after {
    opacity: 0;
  }
}

#about {
  padding: 10% 8% 15%;
  color: #f4f2ff;
  background: linear-gradient(45deg, #1a63f8 0%, #1d76fb 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

#about h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 4rem;
}

#about .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .profile .profile-image {
  width: 30%;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.1);
}

#about .profile .about-me {
  width: 50%;
}

#about .profile .about-me p {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  #about {
    -webkit-clip-path: none;
            clip-path: none;
  }
  #about .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .profile .profile-image {
    width: 50%;
  }
  #about .profile .about-me {
    width: 80%;
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .profile .about-me button {
    margin-top: 4rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 480px) {
  #about .profile .profile-image {
    width: 60%;
  }
  #about .profile .about-me {
    width: 100%;
  }
}

#skills {
  padding: 0% 8% 8%;
}

.skills-head {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #1a63f8;
  padding-bottom: 3px;
  margin-bottom: 8%;
}

.skills-list {
  font-size: 3rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 768px) {
  .skills-list {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    font-size: 2.5rem;
  }
}

.skill {
  margin: 1rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill img,
.skill i {
  cursor: pointer;
}

.reactjs {
  color: #0b9ceb;
}

.javascript {
  color: #f1c40f;
}

.css {
  color: #217de1;
}

.bootstrap {
  color: #8319f9;
}

.html {
  color: #f86c2f;
}

.nodejs {
  color: #0f913d;
}

.expressjs {
  height: 45px;
}

@media screen and (max-width: 768px) {
  .expressjs {
    height: 35px;
  }
}

.mongodb {
  width: 25px;
}

@media screen and (max-width: 768px) {
  .mongodb {
    width: 20px;
  }
}

.postgresql {
  width: 45px;
}

@media screen and (max-width: 768px) {
  .postgresql {
    width: 30px;
  }
}

.ejs {
  width: 45px;
}

@media screen and (max-width: 768px) {
  .ejs {
    width: 30px;
  }
}

.git {
  color: #0fa854;
}

.java {
  color: #e1195b;
}

.origin {
  -webkit-animation: spin 6s cubic-bezier(0.8, 0, 0.2, 1) infinite;
          animation: spin 6s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#projects {
  padding: 10% 8% 8%;
}

#projects .projects-head {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #1a63f8;
  padding-bottom: 3px;
  margin-bottom: 8%;
}

#projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0 6rem;
}

@media screen and (max-width: 768px) {
  #projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0 4rem;
  }
}

#projects .project .tilt {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

#projects .project .project-image {
  width: 45%;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  #projects .project .project-image {
    width: 100%;
  }
}

#projects .project .project-text {
  width: 45%;
}

@media screen and (max-width: 768px) {
  #projects .project .project-text {
    width: 100%;
    margin: 4rem 0 0;
  }
}

#projects .project .project-text .project-heading {
  font-family: "Roboto", sans-serif;
}

#projects .project .project-text .project-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 1rem 0 1rem;
  text-align: justify;
}

#projects .project .project-image2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 768px) {
  #projects .project .project-image2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#projects .project .project-text2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 768px) {
  #projects .project .project-text2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#contact {
  padding: 12% 0% 8%;
  text-align: center;
  color: #f4f2ff;
  background: linear-gradient(45deg, #1a63f8 0%, #1d76fb 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
}

#contact h4 {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  #contact {
    padding: 10% 0%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

#footer {
  padding: 8rem 0 10rem;
  text-align: center;
  background-color: #212f3d;
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 5rem 0 6rem;
  }
}

#footer .copyright {
  font-size: 2rem;
  color: #f4f2ff;
}
/*# sourceMappingURL=style.css.map */